.container {
    display: flex;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

.attribution {
    position: absolute;
    top: 0;
}

.card {
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    width: 300px;
}

.card--suvs {
    background-color: hsl(184, 100%, 22%);
}

.card--luxury {
    background-color: hsl(179, 100%, 13%);
}

.card__title {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 36px;
    line-height: 100px;
}

.card__paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 23px;
    font-weight: 300;
}

.card__button {
    display: inline-block;
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);

    padding: 14px 33px;
    margin-top: 80px;
    border-radius: 30px;
    border: 1px solid transparent;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s;
}

.card__button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.2s;
}

.card__button--suvs {
    color: hsl(184, 100%, 22%);
}

.card__button--luxury {
    color: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .card__button {
        margin-top: 20px;
    }
    
    body {
        margin: 300px 0;
    }
}