@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-svgs {
    background-image: url("./public/images/bg-pattern-top-desktop.svg"),
      url("./public/images/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  }
}
