* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: hsl(224, 23%, 55%);
}

html { height: 100%;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);

    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

h1, h3 {
    color: hsl(223, 47%, 23%)
}